################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp4GItSession/.vs/ConsoleApp4GItSession/FileContentIndex/39fb78f0-c401-433f-bf36-15453b4588f4.vsidx
